.header__logo {
    font-size: 40px;
    color: #EC87EF;
    margin: 0 auto;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
