.pagination {
    text-align: center;
}

.pagination li {
    display: inline-block;
}

main {
    display: flex;
    justify-content: center;
}

.list-table__row:hover {
    background-color: #F7F7F7;
}

.search-button {
    color: #919191;
}

.list__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}