.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.back__button {
    display: inline-block;
    padding: 5px 5px;
    background-color: #ccc;
    color: #000;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
}